# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.swp
# C extensions
*.so

# auto env source file
.env

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
venv/
var/
collect_static/
static/
static/upload/
*.egg-info/
.installed.cfg
*.egg
*.sublime*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
# *.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings
# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

db.sqlite3
local_settings.py

.idea/
media/
